body{
  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
 margin: 0;
 padding:0;
 box-sizing: border-box;
 font-family: montserrat , sans-serif;
 
}

.container {
  margin-right:5%;
  margin-left: 60%;
  margin-top:8% ;
  max-width:500px;
   /* position:static;  */
   /* overflow: hidden; */
   background-color: #fffefe;
   border-radius: 5px;
   box-shadow:0 0 1px 1px  rgb(241, 242, 243);
}
.login-header {
  color:rgb(17, 16, 16);
  text-align:left;
  font-size:150%;
  margin-top:10px;
  padding: 20px;

  
}
.login-form {
  box-sizing:border-box;
  padding-top:0%;
	padding-bottom:2%;
  margin-right: 20px;
  margin-left: 20px;
  text-align:left;
  font-size: 12px;
}

input[type=text] , input[type=email]    {
  padding: 15px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 2px 2px rgba(0,0,0,0.06);
  border-radius:10px;
  width:90%;
  

}
input[type=submit]{
  padding: 15px;
  margin:20px 5px;
 margin-bottom: 70px;
  border:0;
  box-shadow:0 0 2px 2px  rgb(8, 156, 241);
  border-radius:10px;
  width:95%;
  color:white;
  font-size: 18px;
background: rgb(8, 156, 241);

}
.button {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
  text-align: center;

}



/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 1300px){
  
  .login-button {
    margin-bottom:10px;
  } 
  .container{
  margin-left: 50%;
  margin-top:8% ;
}
}